<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ('../components/head') %>
</head>

<body>
  <header>
    <%- include ('../components/nav') %>
    <%- include ('../components/jumbotron') %>
  </header>

  <div class="container">
    <%- body %>

    <footer>
      <%- include ('../components/footer') %>
    </footer>
  </div>
  <%- include('../components/script') %>
  <%-defineContent('account')%>
</body>

</html>