  <!DOCTYPE html>
  <html lang="ko">
  <%- include ('../component/head') %>
  <%- include ('../component/function') %>

  <body>
    <header>
      <%- include ('../component/nav') %>
      <%- include ('../component/jumbotron') %>
    </header>

    <div class="container">
      <%- body %>
    </div>

    <footer class="d-flex text-center justify-content-center align-items-end" style="height: 10em;">
      <%- include ('../component/footer') %>
    </footer>


    <%- include('../component/script') %>

  </body>

  </html>