<div class="row">
  <div class="col-sm-12 bg-info borded rounded mb-2">
    <h4>
      <%= category.toUpperCase() %>
    </h4>
  </div>
</div>
<!-- <div class="row row-cols-3 border-bottom" id="rowName">
  <div class="col-sm-7 text-left">제목</div>
  <div class="col-sm-3">작성자</div>
  <div class="col-sm-2">일자</div>
</div> -->
<% for(var i=0; i<data.length; i++) { %>
<div class="row  border-bottom" id="boards" onclick="location.href='/boards/<%=category%>/posts/<%= data[i].postnum%>'">
  <div class="col-sm-7  text-left text-truncate">
    <h5>
      <%=data[i].posttitle%>
    </h5>
  </div>
  <div class="col-sm-3 ">
    <p>
      <%=data[i].postuser%>
    </p>
  </div>
  <div class="col-sm-2   text-truncate">
    <p>
      <%=data[i].uploadtime%>
    </p>
  </div>
</div>
<% }%>

<% if(userName) { %>
<div style="height:2vw"></div>
<div type=" button" id="writeButton" onclick="location.href='/boards/<%= category %>/posts/?action=new_post'"
  class="btn btn-primary btn-sm float-right">
  Write</div>
<% } %>