<div class="table-responsive-xl">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <td colspan="3" class="alert alert-info">
              <a href="/boards/humor">Humor</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=postNumber'">
            <td scope="row">
              <%=postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class=" table table-borderless table-hover ">
        <thead>
          <tr>
            <td colspan="3" class="alert alert-info">
              <a href="/boards/gossip">Gossip</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr onclick="location.href='/boards/gossip/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/gossip/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/gossip/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/gossip/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/gossip/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
          <tr onclick="location.href='/boards/gossip/posts?action=post&number=postNumber'">
            <td scope="row">
              <%= postTitle%></td>
            <td><%= postUser%></td>
            <td>
              <%= postDate%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>