<div class="row">
  <% data.forEach((posts,category)=>{%>
  <div class="col-12 col-md-6">
    <div class="indexBox mt-1">
      <div class="row borded rounded bg-pink indexCategory" onclick="location.href='/boards/<%= category %>/posts'">
        <%= category.toUpperCase()%>
      </div>
      <div class="row">
        <div class="col-12">
          <% posts.forEach((post)=>{ %>
          <div class="row mt-1" id="boards" onclick="location.href='/boards/<%=category%>/posts/<%= post.postnum%>'">
            <div class="col-8 text-truncate">
              <%=post.posttitle%>
            </div>
            <div class="col-4 text-right text-truncate">
              <%=post.postuser%>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <% })%>
</div>