<div class="table-responsive-xl">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-borderless table-hover">
        <colgroup>
          <col width='*%' />
          <col width='33%' />
          <col width='33%' />
        </colgroup>
        <thead>
          <tr>
            <td colspan="3" class="alert alert-info">
              <a href="/boards/humor">Humor</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<rows.length; i++) { %>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=<%= rows[i].postnum%>'">

            <td scope="row"><%=rows[i].posttitle%></a></td>
            <td><%=rows[i].postuser%></td>
            <td><%= rows[i].uploadtime%></td>
          </tr>
          <%
          }
         %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class=" table table-borderless table-hover ">
        <colgroup>
          <col width='*%' />
          <col width='33%' />
          <col width='33%' />
        </colgroup>
        <thead>
          <tr>
            <td colspan="3" class="alert alert-info">
              <a href="/boards/gossip">Gossip</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<rows.length; i++) { %>
          <tr onclick="location.href='/boards/humor/posts?action=post&number=<%= rows[i].postnum%>'">

            <td scope="row"><%=rows[i].posttitle%></a></td>
            <td><%=rows[i].postuser%></td>
            <td><%= rows[i].uploadtime%></td>
          </tr>
          <%
          }
         %>
        </tbody>
      </table>
    </div>
  </div>

</div>