<div class="row justify-content-sm-center">
  <% data.forEach((posts,category)=>{%>
  <div class="col-sm-5">
    <div class="row">
      <div class="col-sm-12 borded rounded bg-info" rowspan="2" onclick="location.href='/boards/<%= category %>'">
        <h5>
          <%= category.toUpperCase()%>
        </h5>
      </div>
    </div>
    <% posts.forEach((post)=>{ %>
    <div class="row row-cols-2" id="boards" onclick="location.href='/boards/<%=category%>/posts/<%= post.postnum%>'">
      <div class="col-sm-8 text-truncate">
        <h6>
          <%=post.posttitle%>
        </h6>
      </div>
      <div class="col-sm-4 text-right">
        <h6>
          <%=post.postuser%>
        </h6>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="col-sm-auto"></div>
  <% })%>
</div>