<div class="row " id="postRow">
  <div class="col-12 col-md-12 no-mr-pd" id="postTitle">
    <%= data.docdata.posttitle%>
  </div>
  <div class="col-12 col-md-12   bg-melon no-mr-pd">
    <div class="col-12 col-md-8  no-mr-pd">
      <%= data.docdata.postuser%>
    </div>
    <div class="col-12 col-md-4 text-truncate no-mr-pd">
      <%= data.docdata.uploadtime%>
    </div>
  </div>

  <div class="col-12 col-md-12  no-mx-pd" id="postContent">
    <div class="card">
      <%- data.docdata.postcontent %>
    </div>
  </div>
  <% if(data.authorized) { %>

  <div id="editButton" onclick="location.href='/boards/<%=category%>/posts/<%= data.docdata.postnum%>?action=edit_post'"
    class="col-12 offset-md-8 col-md-2 btn bg-bluesky btn-md topMargin">
    Edit
  </div>
  <div id="deleteButton" data-toggle="modal" data-target="#deletemodal"
    class=" col-12 col-md-2 btn btn-secondary btn-md topMargin">
    Delete
  </div>

  <% } %>
</div>
<!-- deleteButton modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        글을 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          onclick="location.href='/boards/<%=category%>/posts/<%= data.docdata.postnum%>?action=delete'">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>