<div class="table-responsive-lg" style="font-size: 14px;">
  <table class="table table-borderless text-left">
    <thead>
      <tr>
        <th colspan="5" id="boardName" class="bg-info mb-2" onclick="window.history.back();">
          < <%= category %> </th> </tr> </thead> <tbody>
      <tr>
        <th scope="column" name="postTitle" colspan="3" style="width: 20%;">
          <%= row.posttitle%>
        </th>
        <td scope="column" name="postUser" style="width: 20%;">
          <%= row.postuser%>
        </td>
        <td scope="column" name="postDate" style="width: 20%;">
          <%= row.uploadtime%>
        </td>
      </tr>
      <tr>
        <td scope="column" colspan="5">
          <div class="card">
            <pre class="card-text" name="postContent" style="font-size: 15px;"><%= row.postcontent %>
            </pre>
          </div>
        </td>
      </tr>
      </tbody>
  </table>
</div>

<div id="userequal">
  <div id="editButton" onclick="location.href='/boards/<%=category%>/posts?action=edit_post&number=<%= row.postnum%>'"
    class="btn btn-primary btn-sm float-right">
    Edit
  </div>
  <div id="deleteButton" data-toggle="modal" data-target="#deletemodal" class="btn btn-secondary btn-sm float-right">
    Delete
  </div>
</div>

<!-- deleteButton modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        글을 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          onclick="location.href='/boards/<%=category%>/posts?action=delete&number=<%= row.postnum%>'">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="forSpace" style="height: 20px;"></div>
<div class="forSpace" style="height: 20px;"></div>